@{
    ViewData["Title"] = "Category Edit Page";
}

@model Category

<div class="main-content">
        <header>
            <div class="user-wrapper">
                <img src="~/images/user.png" width="40" height="40" alt="" />
                <div>
                    <h4>Nodirbek Abdulaxadov</h4>
                    <small>Supper admin</small>
                </div>
            </div>

            @*<h5>
                <a href="">O'zb</a> |
                <a href="">Rus</a>
            </h5>*@
        </header>

        <main>
            <div class="box-header position-relative table-header mt-2">
                <div class="d-flex justify-content-between mt-3 com-header">
                    <h3>Yangi operator qo'shish</h3>
                </div>
            </div>
            <form asp-controller="category" asp-action="edit" method="post">        
                
                <input type="hidden" asp-for="Id" value="@Model.Id">
                
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="CategoryName">CategoryName</label>
                    <input type="text" class="form-control" asp-for="CategoryName" value="@Model.CategoryName">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="OperatorId">OperatorId</label>
                    <input type="text" class="form-control" asp-for="OperatorId" value="@Model.OperatorId">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="SubCategories">SubCategories</label>
                    <input type="text" class="form-control" asp-for="OperatorId" value="@Model.SubCategories">
                </div>
                <div class="button-group d-flex justify-content-lg-center">
                    <a asp-controller="category" asp-action="index" class="mx-2">
                        <span class="btn btn-info" style="width: 120px;">Bekor qilish</span>
                    </a>
                    <button type="submit" class="btn btn-success mx-2" style="width: 120px;">
                        Saqlash
                    </button>
                </div>
            </form>

        </main>
    </div>